body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  color: #333333;
  padding: 1rem;
}

h1 {
  margin-top: 0;
}

.download {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #333333;
  padding: 1rem;
  font-size: 2rem;
  line-height: 2.5rem;
}

.download__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  color: #333333;
  outline: none;
  text-decoration: none;
}
.download__link:hover,
.download__link:focus,
.download__link:active {
  outline: 1px solid transparent;
  text-decoration: underline;
}

.download__icon {
  display: block;
  width: 4rem;
  height: 4rem;
  margin: -4rem auto 0.25rem auto;
  padding: 1rem;
  background-color: #ffffff;
}

.download__title {
  display: block;
  text-align: center;
  color: #333333;
  text-decoration: none;
}

.download__filesize {
  display: inline-block;
}

.download__filedate {
  display: inline-block;
}

.download__additional-info {
  display: block;
  width: 100%;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #666666;
  text-align: center;
}

abbr {
  position: relative;
  outline: none;
  padding-bottom: 2px;
}

@-webkit-keyframes TOOLTIP {
  from {
    margin-top: 0;
    background-color: rgba(0,0,0,0);
  }
  to {
    margin-top: 2.25rem;
    background-color: rgba(0,0,0,1);
  }
}

@keyframes TOOLTIP {
  from {
    margin-top: 0;
    background-color: rgba(0,0,0,0);
  }
  to {
    margin-top: 2.25rem;
    background-color: rgba(0,0,0,1);
  }
}

@-webkit-keyframes ARROW {
  from {
    margin-top: 0;
    background-color: rgba(0,0,0,0);
  }
  to {
    margin-top: 2rem;
    background-color: rgba(0,0,0,1);
  }
}

@keyframes ARROW {
  from {
    margin-top: 0;
    background-color: rgba(0,0,0,0);
  }
  to {
    margin-top: 2rem;
    background-color: rgba(0,0,0,1);
  }
}

abbr::after {
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  margin-top: 2.25rem;
  padding: 0.5rem;
  font-size: 0.75rem;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  -webkit-animation: TOOLTIP 0.1s ease-out 1;
          animation: TOOLTIP 0.1s ease-out 1;
}

abbr::before {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 50%;
  right: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1rem;
  height: 1rem;
  margin: 2rem 0 0 -0.5rem;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #000000;
  -webkit-animation: ARROW 0.1s ease-out 1;
          animation: ARROW 0.1s ease-out 1;
}

abbr[tabindex]:hover,
abbr[tabindex]:focus {
  padding-bottom: 0;
  border-bottom: 2px solid #000000;
}

abbr[tabindex]:hover::after,
abbr[tabindex]:focus::after{
  content: attr(title);
}

abbr[tabindex]:hover::before,
abbr[tabindex]:focus::before {
  content: "";
}

@media print {
  abbr::after {
    content: " (" attr(title) ") ";
  }
}

small {
  display: block;
} 

.hide {
  display: none;
}